
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>OpenEyes Technologies</title>
<meta name="description" content=""/>
<meta name="author" content=""/>
<link type="image/x-icon" rel="shortcut icon" href="https://theopeneyes.com/images/favicon.ico" />
<link type="text/css" rel="stylesheet" href="https://theopeneyes.com/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../static/css/flaticon.css" />
<link type="text/css" rel="stylesheet" href="https://theopeneyes.com/css/style.css" />
</head>
<body>
<!-- Header Section -->
<header>
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-3 col-sm-2 col-xs-3">
				<div class="logo"> <a href="https://openeyessurvey.com/"><img src="../static/assets/OET-survey.png" alt="OpenEyes Technologies" title="OpenEyes Technologies" class="img-responsive" /></a> </div>
			</div>
			<!-- End Logo -->

			<!-- Header Address -->
			<div class="col-md-9 col-sm-10 col-xs-9">
				<button class="hamburger" type="button"><span></span></button>
				<div class="header_address">
					<div class="address"><i class="flaticon-placeholder"></i><span><strong>1629 K St NW #300 </strong><br>Washington DC 20006</span></div>
					<div class="address"><i class="flaticon-smartphone"></i><span><strong>Call Us Now</strong><br><a href="tel:703.957.9525">703.957.9525</a></span></div>
					<div class="address"><i class="flaticon-mail"></i><span><strong>Send Us Email</strong><br><a href="mailto:info@theopeneyes.com">info@theopeneyes.com</a></span></div>
				</div>
			</div>
			<!-- End Header Address -->
		</div>
    </div>
	<div class="clearfix"></div>
	
</header>
<div class="clearfix"></div>

<!-- End Header Section -->



<!-- Inner Section -->

<div class="inner_banner">

	<img src="https://theopeneyes.com/images/inner_banner.jpg" alt="" class="img-responsive" />

	<div class="innerbanner_text">Cookie Policy<span><a href="https://openeyessurvey.com/">Home</a> / <i>Cookie Policy</i></span></div>

</div>

<div class="clearfix"></div>

<!-- End Inner Section -->



<!-- Content Section -->

<div class="inner_block">

	<div class="container">

		<div class="row">

			<div class="col-md-12 col-sm-12">
				<h4>Cookie Policy</h4>
				<p class="padding_15">OpenEyes Technologies, Inc. ("us", “we”, “our," or “OpenEyes Technologies”) uses cookies on its Sites. Unless you adjust your browser settings to refuse cookies, we (and third parties) will issue cookies when you interact with us. Any of the terms used, but not defined in, this Cookie Policy are defined in our <a href="privacy-policy.html">Privacy Policy</a>.
				  </p>
				  <p class="padding_30">Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the Sites, the types of cookies we use, your choices regarding cookies and further information about cookies.</p>
		  <h4>What are cookies</h4>
		  <p class="padding_15">Cookies are small pieces of text sent to your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.</p>
		  <p class="padding_15">Cookies can be “persistent” or “session” cookies. Persistent cookies remain on your personal computer or mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.</p>
		  <p class="padding_30">We may also use similar technologies, such as pixel tags and web beacons. These are tiny graphic images placed on website pages or in some of our email that allows us to determine whether an individual has performed a specific action. When an individual accesses these pages, opens or clicks on an email the pixel tags and web beacons generate a notice of that action.  These tools, in addition to and similar to cookies, allow us to measure responses to our communications and improve our web pages and promotions. </p>
		  
		  <h4>How OpenEyes Technologies uses cookies and similar technologies</h4>
		  <p class="padding_15">When you use and access the Service, we may place a number of cookies or similar technologies.</p>
		  <p class="padding_15">We use cookies or similar technologies for the following purposes: to enable certain functions of the Service and for Site Performance; to provide analytics; to store your preferences; for social media services; and for security and fraud prevention</p>
		  <p class="padding_30">We use both session and persistent cookies on the Service and we use different types of cookies to run the Service. </p>
		  
		  <h4>The types of cookies we use are:</h4>
		  <p class="padding_15"><b>Strictly Necessary Cookies</b>: These cookies are necessary for the Sites to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any Personal Information.</p>
		  <p class="padding_15"><b>Functional Cookies</b>: These cookies enable the Sites to provide enhanced functionality and personalization. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function properly.</p>
		  <p class="padding_15"><b>Social Media Cookies</b>: These cookies are set by a range of social media services that we have added to the Sites to enable you to share our content with your friends and networks. They are capable of tracking your browser across other sites and building up a profile of your interests. This may impact the content and messages you see on other websites you visit. If you do not allow these cookies you may not be able to use or see these sharing tools.  OpenEyes Technologies doesn’t target ads but these social media providers may do so. Please read their policies. </p>
		  <p class="padding_30"><b>Performance Cookies</b>: These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our Sites. They help us to know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance.</p>
		  
		  <h4>Third-party cookies</h4>
		  <p class="padding_30">In addition to our own cookies, we may also have agreements with third parties to drop their cookies to report usage statistics of the Service. However, we cannot guarantee that these third parties handle your personal data in a reliable or secure manner. Parties such as <a href="https://policies.google.com/technologies/partner-sites" target="_blank">Google</a> and <a href="https://sharethis.com/privacy/" target="_blank">Sharethis</a> are to be considered as independent data controllers. We recommend that you read the privacy statements of these companies.</p>
		  
		  <h4>What are your choices regarding cookies and similar technologies?</h4>
		  <p class="padding_15">You have the right to decide whether to accept or reject cookies. You can exercise your cookie preferences by clicking on the appropriate opt-out links provided below. You can also change your browser settings If you’d like to delete cookies or instruct your web browser to delete or refuse cookies; please visit the help pages of your web browser.</p>
		  <p class="padding_15">Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.</p>
		  <p class="padding_15">For instructions on web browser settings:</p>
		  <ul class="list_li margin_li_15">
			<li>For the Chrome web browser, please visit this page from Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank">https://support.google.com/accounts/answer/32050</a></li>  
			<li>For the Internet Explorer web browser, please visit this page from Microsoft: <a href="http://support.microsoft.com/kb/278835" target="_blank">http://support.microsoft.com/kb/278835</a></li> 
			<li>For the Firefox web browser, please visit this page from Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></li> 
			<li>For the Safari web browser, please visit this page from Apple: <a href="https://support.apple.com/kb/PH21411?locale=en_US" target="_blank">https://support.apple.com/kb/PH21411?locale=en_US</a></li> 
			<li>For any other web browser, please visit your web browser's official web pages.</li> 
		  </ul>
		  <p class="padding_15">Where can you find more information about cookies</p>
		  <p class="padding_15">You can learn more about cookies and the following third-party websites:</p>
		  <ul class="list_li margin_li_15">
			<li>AllAboutCookies: <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a></li> 
			<li>Network Advertising Initiative: <a href="http://www.networkadvertising.org/" target="_blank">http://www.networkadvertising.org/</a></li> 
			<li>EU-based Your <a href="https://youradchoices.ca/" target="_blank">Online Choices and the Digital Advertising Alliance of Canada site</a></li> 
		  </ul>
			   <p class="padding_15"><b>YouTube</b>: We use the YouTube service to display videos related to our Services, YouTube uses tracking technologies, which may be present in the videos embedded on YouTube, which may collect information from your browser when you view the video, including device identifiers and/or cookie IDs. This information is collected directly and automatically by YouTube and its partners; however, OpenEyes Technologies does not participate in these data transmissions. We do not provide any Personal Information, such as usernames, to YouTube. You can learn more about Google's (owns YouTube) practices and control your settings on the service at <a href="https://policies.google.com/technologies/partner-sites" target="_blank">Google Policies</a>.</p>
			  <p><b>For California Residents Under CCPA</b>: When you visit our Sites, we store cookies on your browser to collect information. The information collected might relate to you, your preferences or your device, and is mostly used to make the site work as you expect it to and to provide a more personalized web experience. You cannot opt-out of our First Party Strictly Necessary Cookies as they are deployed in order to ensure the proper functioning of our Sites (such as prompting the cookie banner and remembering your settings, to log into your account, to redirect you when you log out, etc.). For more information about first- and third-party cookies used, and how to delete and/or refuse cookies please read our Cookie Policy above. </p>
				</div>

		</div>

	</div>

</div>

<div class="clearfix"></div>

<!-- End Content Section -->



<!-- Bottom Section -->

<div class="bottom_content">

	<div class="container">

		<div class="row">

			<div class="col-md-8 col-md-offset-2">

				<div class="contentbox">This could be the beginning of a <span>beautiful relationship.</span><br>

					<a href="https://theopeneyes.com/service" class="read_more">View Our Services</a></div>

			</div>

		</div>

	</div>

</div>

<div class="clearfix"></div>

<!-- End Bottom Section -->



<!-- Footer -->

<div class="go_top"><i class="flaticon-up-arrow"></i></div>

<footer>
	<div class="partnership_footer">
		<div class="col-sm-12 col-md-2 col-md-offset-2">
			<div class="title_sponser text-center">
				<p><b>Certification</b></p>
				<img class="img-responsive iso" alt="" src="https://theopeneyes.com/images/iso-2015.png">
			</div>
		</div>
		<div class="col-sm-12 col-md-3">
			<div class="title_sponser text-center">
				<p><b>Partners</b></p>
				<img class="img-responsive microsoft" alt="" src="https://theopeneyes.com/images/microsoft.png">
				<img class="img-responsive aws" alt="" src="https://theopeneyes.com/images/aws-cer.png">
			</div>
		</div>
		<div class="col-sm-12 col-md-3">
			<div class="title_sponser text-center">
				<p><b>Membership</b></p>
				<a href="https://www.nvtc.org/membership/public.php" target="_blank"><img
						class="img-responsive nvtc" alt="" src="https://theopeneyes.com/images/nvtc.png"></a>
				<a href="https://dc.tie.org/" target="_blank"><img class="img-responsive tedc" alt=""
						src="https://theopeneyes.com/images/tedc.png"></a>
				<a href="https://www.testpublishers.org/" target="_blank"><img class="img-responsive tedc" alt=""
						src="https://theopeneyes.com/images/atp.jpg"></a>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="container">

		<div class="row">

			<div class="col-md-6 col-sm-12 text-left">Copyrights &copy; 2020 OpenEyes Technologies Inc.</div>

			<div class="col-md-6 col-sm-12 text-right">

				<ul class="social_links">
					<li><a href="/terms-of-use" class="policy_li">Terms of Use</a></li>
					<li><a href="/privacy-policy" class="policy_li">Privacy Policy</a></li>
					<li><a href="/cookie-policy" class="policy_li">Cookie Policy</a></li>
					<li><a href="https://twitter.com/OpenEyesTech" target="_blank"><i
								class="flaticon-twitter-logo-silhouette"></i></a></li>

					<li><a href="https://www.linkedin.com/company/13243146/" target="_blank"><i
								class="flaticon-linkedin"></i></a></li>

				</ul>

			</div>

		</div>

	</div>

</footer>

<script src="https://theopeneyes.com/js/jquery-1.11.3.min.js"></script> 

<script src="https://theopeneyes.com/js/bootstrap.min.js"></script>

<script>
	// Back to Top 
$(function(){
  $(window).scroll(function(){
    var scrolled = $(window).scrollTop();
    if (scrolled > 200){ $('.go_top').fadeIn('slow');}
    if (scrolled < 200){ $('.go_top').fadeOut('slow');}
  });
  
  $('.go_top').click(function () {
    $("html, body").animate({ scrollTop: "0" },  500);
  });

});
// End Back to Top
</script>
</body>

</html>